{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<h1>Modifier mon mot de passe</h1>

{#  Message de success #}
{% for message in app.flashes('notice') %}
    <div class="alert-warning text-center mt-3">
        {{ message }}
        <i class="fa-solid fa-thumbs-up"></i>
    </div>
{% endfor %}

<section id="edit-profil" class="py-5" >
    
    {{ form_start(form, {'attr' : {'class' : 'd-flex flex-column gap-3'}} ) }}
    
    {{ form_row(form.plainPassword) }}     
        
        <input class="btn btn-success btn-action mt-3 m-auto" type="submit" value="Enregistrer la modification">
    {{ form_end(form)}}

    <div class="d-flex justify-content-center mt-5">
        <a href="{{path('app_profil') }}" class="btn btn-primary btn-action ">Revenir à mon profil</a>
    </div>
    
</section>

{% endblock %}