{% extends 'base.html.twig' %}

{% block title %}Les Sessions{% endblock %}

{% block body %}

<h1 class="">Les Formations</h1>

{% for message in app.flashes('notice') %}
    <div class="alert-warning text-center mb-5">
        {{ message }}
        <i class="fa-solid fa-thumbs-up"></i>
    </div>
  {% endfor %} 

<a href="{{ path('add_session') }}" class="btn btn-warning btn-return d-block m-auto">Créer une nouvelle session</a>

<section id="sessions-list" class="row justify-content-center py-5 gap-5">

    {% for formation in formations %}

        <article class="card mb-3 p-0">
            <h4 class="card-header">{{formation.title}}</h4>
            <div class="card-body">
              <p class="card-text">{{formation.shortDescription}}</p>
            </div>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item ">
                    <div class="fw-bold text-center pb-3">Les prochaines sessions :</div>
                    
                    {% for session in formation.sessions %}
                        {# permet de filtrer les sessions affichées #}
                    {% if "now"|date('Y-m-d') < session.datestart|date('Y-m-d') %}

                    <a href="{{ path('session_detail', {'id': session.id}) }}">
                        <div class="date-container bg-success mb-4 btn-return">
                            <div class="mb-2">
                                <i class="fa-solid fa-calendar-days pe-2"></i>
                                {{ session.datestart | date("d/m/Y") }} <span class="px-1">au</span> {{ session.dateend | date("d/m/Y") }}
                            </div>

                           <span class="fw-bold">Inscrits:</span> {{session.reservedPlacesNumber}} / {{session.placenumber}}
                        </div>
                    </a>   
                    
                    {% endif %}
                    {% endfor %}
                </li>

                <li class="list-group-item text-center py-4">
                    <a href="{{ path('programme-formation', {'id': formation.id}) }}" class="btn btn-secondary btn-return">Télécharger le programme de la formation</a>
                </li>
            </ul>

        </article>

    {% endfor %}
</section>

{% endblock %}
