{% extends 'base.html.twig' %}

{% block title %}Accueil - Formation{% endblock %}

{% block body %}
<h1>Accueil</h1>
<section id="home-sessions" class="py-5">
    {% if app.user %}
      <h2 class="mb-5">Bienvenue {{app.user.firstname}} {{app.user.lastname}} !</h2>
    {% endif %}
    <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Nombre de Formations</div>
                                    <div class="card-body">{{nombreFormations}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{{path('app_formation')}}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Nombre de Stagiaires</div>
                                    <div class="card-body">{{nombreStagiaires}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{{ path('app_interns') }}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Nombre de Modules</div>
                                    <div class="card-body">{{nombreModules}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{{ path('app_modules') }}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Nombre de Categories</div>
                                    <div class="card-body">{{nombreCategories}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{{ path('app_categories') }}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
    {# <-------- SESSION EN COURS --------> #}

     
    <h3 class="mt-4">Sessions en cours</h3>
    {% if currentSessions | length > 0 %}
      <table class="table table-hover mb-5 table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Statut</th>
              <th scope="col">Formation</th>
              <th scope="col">Date de début</th>
              <th scope="col">Date de fin</th>
              <th scope="col">Inscrits</th>
              <th scope="col">Modifier</th>
            </tr>
          </thead>
          <tbody>
              {% for item in currentSessions %}  

            <tr class="table-active">
              <td class="status">
                  {{ item.sessionStatus | raw}}
              </td>
              <td class="formation-cell">
                <a href="{{ path('session_detail', {'id': item.id}) }}" class="blue-hover">
                  {{ item.formation.title }}
                </a>
              </td>
              <td>{{ item.datestart | date("d/m/Y") }}</td>
              <td>{{ item.dateend | date("d/m/Y") }}</td>
              <td>{{ item.reservedPlacesNumber }} / {{ item.placenumber }}</td>
              <td>
                  <a href="{{ path('session_detail', {'id': item.id}) }}">
                    <i class="fa-solid fa-pen-to-square blue-hover"></i>
                  </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>Aucune session n'est actuellement en cours.</p>
      {% endif %}

      {# <-------- SESSION A VENIR --------> #}

      <h3>Sessions à venir</h3>
      {% if nextSessions | length > 0 %}
    <table class="table table-hover table-bordered table-striped  mb-5">
        <thead>
          <tr>
            <th scope="col">Statut</th>
            <th scope="col">Formation</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Inscrits</th>
            <th scope="col">Modifier</th>
          </tr>
        </thead>
        <tbody>
            {% for item in nextSessions %}  

          <tr class="table-active">
            <td class="status">
                {{ item.sessionStatus | raw}}
            </td>
            <td class="formation-cell">
              <a href="{{ path('session_detail', {'id': item.id}) }}" class="blue-hover">
                {{ item.formation.title }}
              </a>
            </td>
            <td>{{ item.datestart | date("d/m/Y") }}</td>
            <td>{{ item.dateend | date("d/m/Y") }}</td>
            <td>{{item.reservedPlacesNumber}} / {{item.placenumber}}</td>
            <td>
                <a href="{{ path('session_detail', {'id': item.id}) }}">
                    <i class="fa-solid fa-pen-to-square blue-hover"></i>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>Aucune session n'est actuellement à venir.</p>
      {% endif %}

      {# <-------- SESSION PASSEES --------> #}

      {% if pastSessions | length > 0 %}
      <h3>Sessions passées</h3>
    <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Statut</th>
            <th scope="col">Formation</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Inscrits</th>
            <th scope="col">Modifier</th>
          </tr>
        </thead>
        <tbody>
            {% for item in pastSessions %}  

          <tr class="table-active">
            <td class="status">
                {{ item.sessionStatus | raw}}
            </td>
            <td class="formation-cell">
              <a href="{{ path('session_detail', {'id': item.id}) }}" class="blue-hover">
                {{ item.formation.title }}
              </a>
            </td>
            <td>{{ item.datestart | date("d/m/Y") }}</td>
            <td>{{ item.dateend | date("d/m/Y") }}</td>
            <td>{{item.reservedPlacesNumber}} / {{item.placenumber}}</td>
            <td>
                <a href="{{ path('session_detail', {'id': item.id}) }}">
                    <i class="fa-solid fa-pen-to-square blue-hover"></i>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>Aucune session ne s'est encore terminée.</p>
      {% endif %}
      
</section>
{% endblock %}
