{% extends 'base.html.twig' %}

{% block title %}Ajout d'un stagiaire{% endblock %}

{% block body %}

{% if edit %}
    <h1>Modification du stagiaire</h1>
    {% else %}
    <h1>Ajout d'un stagiaire</h1>
{% endif %}

<section id="add-intern" class="py-5">
    
    {# Affiche le formulaire récupéré depuis le controler d'Entreprise #}
    {{ form_start(form) }}
    <div class="row justify-content-between">
        {# Prenom et Nom du formulaire #}
        <div class="col-6">
            {{ form_row(form.firstname, {'label':  "Prénom", 'attr' : {'class' : 'form-control' }} ) }}
        </div>
        <div class="col-6">
            {{ form_row(form.lastname, {'label': 'Nom', 'attr' : {'class' : 'form-control' }} ) }}
        </div>
    </div>

    {# Date et Sexe du formulaire #}
    <div class="row justify-content-between">
        <div class="col-6">
            {{ form_row(form.birthdate, {'label': 'Date de naissance', 'attr' : {'class' : 'form-control' }} ) }}
        </div>
        <div class="col-6">
            {{ form_row(form.gender, {'label': 'Sexe','attr' : {'class' : 'form-control' }} ) }}
        </div>
    </div>

    {# Email du formulaire #}
    {{ form_row(form.email, {'label': 'Email','attr' : {'class' : 'form-control' }} ) }}

    {# Téléphone du formulaire #}
    {{ form_row(form.phone, {'label': 'Téléphone','attr' : {'class' : 'form-control' }} ) }}

    {# Rue du formulaire #}
    {{ form_row(form.adress, {'label': 'Rue','attr' : {'class' : 'form-control' }} ) }}

    {# Code postal et ville du formulaire #}
    <div class="row justify-content-between">
        <div class="col-6">
            {{ form_row(form.zipcode, {'label': 'Code Postal','attr' : {'class' : 'form-control' }} ) }}
        </div>

        <div class="col-6">
            {{ form_row(form.city, {'label': 'Ville','attr' : {'class' : 'form-control' }} ) }}
        </div>

        <div class="col-6 pt-3">
            {{ form_row(form.country, {'label': 'Pays','attr' : {'class' : 'form-control' }} ) }}
        </div>
    </div>

    {# Sessions du formulaires #}
        {{ form_row(form.sessions, {'label': 'Sessions :','attr' : {'class' : 'form-control p-0' }} ) }}
        
    {# Submit du formulaire #}
    <div class="d-flex justify-content-center">
        {% if edit %}
            <button type="submit" class="btn btn-success mt-3 w-50 btn-return">Sauvegarder les modifications</button>
            {% else %}
            <button type="submit" class="btn btn-success mt-3 w-50 btn-return">Ajouter le stagiaire</button>    
        {% endif %}
    </div>

    <span class="text-center">Ou</span>

    {# Seconde option du formulaire #}
    <div class="text-center">
        <a href="{{path('app_interns') }}" class="btn btn-primary btn-return">Retourner à la liste des stagiaires</a>
    </div>

    {{ form_end(form)}}

</section>

{% endblock %}
    