{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

<h1>Les Stagiaires</h1>

<section id="interns-list" class="py-5 table-responsive ">
  {% for message in app.flashes('notice') %}
    <div class="alert-warning text-center mb-5">
        {{ message }}
        <i class="fa-solid fa-thumbs-up"></i>
    </div>
  {% endfor %}  
  
{# Bar de recherche #}
{{ render(controller('App\\Controller\\SearchController::searchBar'))}}

    <table class="table table-hover mt-4 table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col" class="birthdate-cell">Date de naissance</th>
            <th class="age-cell" scope="col">Age</th>
            <th scope="col">Sexe</th>
            <th scope="col">Email</th>
            <th scope="col">Adresse</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Sessions prévues</th>
            <th scope="col">Fiche stagiaire</th>
          </tr>
        </thead>
        <tbody>
        {% for intern in internsList %}

        <tr class="table-active">
          
          <td class="border-right">
            <a class="blue-hover" href="{{ path('intern_detail', {'id': intern.id}) }}">{{intern.firstName}}</a>
          </td>
          <td>
            <a class="blue-hover" href="{{ path('intern_detail', {'id': intern.id}) }}">{{intern.lastName}}</a>
          </td>
            <td>{{intern.birthDate | date("d/m/Y")}}</td>
            <td>{{intern.getAge}}</td>
            <td>{{intern.gender}}</td>
            <td>{{intern.email}}</td>
            <td>{{intern.getFullAdress}}</td>
            <td>{{intern.phone}}</td>
            <td class="session-cell">
              <ul class="d-flex flex-column gap-4">
                {% if intern.sessions | length > 0 %}
                  {% for internsession in intern.sessions %}
                  <li>
                    <a class="blue-hover" href="{{ path('session_detail', {'id': internsession.id}) }}">
                      <span class="fw-bold">{{internsession.formation.title}}</span>
                    </a>
                      <br>( du {{internsession.datestart| date("d/m/Y")}} au 
                      {{internsession.dateend| date("d/m/Y") }} )
                  </li>
                  {% endfor %}
                {% else %}
                    Aucune inscription enregistrée.
                {% endif %}
              </ul>
            </td>
            <td class="text-center">
              <a href="{{ path('intern_detail', {'id': intern.id}) }}">
                <i class="fa-solid fa-pen-to-square blue-hover"></i>
              </a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
      </table>

</section>

{% endblock %}
