{% extends 'base.html.twig' %}

{% block title %}Detail de la session{% endblock %}

{% block body %}


{# Alertes flash #}
<section id="detail-session" class="py-5" >

    {% for message in app.flashes('notice-error') %}
        <div class="alert-warning text-center mb-3">
            {{ message }}
            <i class="fa-solid fa-thumbs-down"></i>
        </div>
    {% endfor %}

    {% for message in app.flashes('notice-success') %}
        <div class="alert-warning text-center mb-3">
            {{ message }}
            <i class="fa-solid fa-thumbs-up"></i>
        </div>
    {% endfor %}

    {% for message in app.flashes('module-deleted') %}
        <div class="alert-warning text-center mb-3">
            {{ message }}
            <i class="fa-solid fa-thumbs-up"></i>
        </div>
    {% endfor %}


    {# Detail de la session #}
    <article class="session-record m-auto mb-5">
        <h3 class="text-center m-0">
            <i class="fa-solid fa-calendar-days pe-1"></i> Detail de la Session
        </h3>
        <ul class="list-unstyled d-flex flex-column gap-2 mb-0 p-30">
                <li class="display-5 mb-2"></li>

                <li>
                    <span class="fw-bold pe-1">Intitulé de la formation :</span> {{session.formation.title}} 
                </li>

                <li>
                    <span class="fw-bold pe-1">Débute le : </span> {{session.datestart| format_datetime('full', 'short', locale='fr') }}
                </li>

                <li>
                    <span class="fw-bold pe-1">Termine le : </span> {{session.dateend| format_datetime('full', 'short', locale='fr') }}
                </li>

                <li>
                    <span class="fw-bold pe-1">Nombre de places disponibles : </span>  {{session.placenumber}}
                </li>

                <li>
                    <span class="fw-bold pe-1">Nombre de places restantes : </span> {{session.leftPlacesNumber}} 
                </li>
        </ul>


        {# Stagiaires inscrits #}
        <ul class="d-flex flex-column gap-2 m-0">
            <h4 class="fw-bold">Stagiaires inscrits :</h4>
            {% if session.interns | length > 0 %}
                    {% for sessionintern in session.interns %}
                    <li class="ms-3">
                        <a class="blue-hover pe-3" href="{{ path('intern_detail', {'id': sessionintern.id}) }}">
                            {{sessionintern.fullname}}
                        </a>

                        <a href="{{ path('unsubscribe_intern', {'idSe': session.id, 'idIn': sessionintern.id}) }}"  onclick="return confirm('Voulez vous vraiment désinscrire le stagiaire «{{sessionintern.firstname}} {{sessionintern.lastname}}» ?')">
                            <i class="fa-solid fa-user-minus red-hover"></i>
                        </a>
                    </li>
                    {% endfor %}
                {% else %}
                    <span>Aucun stagiaire n'est inscrit à cette session pour le moment.</span>
            {% endif %}
            <br>
        </ul>


        {#  Stagiaires non inscrits #}
        <ul>
            <h4 class="fw-bold">Stagiaires non inscrits :</h4>
            {% for intern in internsNotInSession %}
                <li class="ms-3">
                    <a href="{{ path('intern_detail', {'id': intern.id}) }}" class="blue-hover pe-3">
                        {{intern.firstname}} {{intern.lastname}}
                    </a>
                    <a href="{{ path('subscribe_intern', {'idSe': session.id, 'idIn': intern.id}) }}"  onclick="return confirm('Voulez vous vraiment inscrire le stagiaire «{{intern.firstname}} {{intern.lastname}} à cette session» ?')">
                        <i class="fa-solid fa-user-plus green-hover"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>


        {#  Boutons d'actions modifier ou supprimer la session #}
        <div class="btn-actions-container d-flex justify-content-evenly py-4">
            
            <a href="{{ path('edit_session', {'id': session.id}) }}" class="btn btn-success btn-action">Modifier la session</a>

            <a href="{{ path('delete_session', {'id': session.id}) }}" class="btn btn-danger btn-action" onclick="return confirm('Voulez vous vraiment supprimer cette session  ?')">Supprimer la session</a>
    
        </div>
    </article>


    {# Programme de la session #}
    <article class="session-record m-auto py-5">
        <ul class="d-flex flex-column gap-2 mb-0">
            <h4 class="fw-bold">Programme de la session :</h4>

            {% if programsList | length > 0 %}
            
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nom du module</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Durée en jours</th>
                  </tr>
                </thead>
                <tbody>
    
                    {% for item in programsList %}
                        <td>
                            <span class="pe-3">{{item.module.title}}</span>

                            <a href="{{ path('delete_program_module', {'idSe': item.session.id, 'idPro': item.id, 'idMo': item.module.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer le module «{{item.module.title}}» du programme de cette session ?')"><i class="fa-solid fa-trash"></i></a>
                        </td>
                        <td>{{item.module.category}}</td>
                        <td>{{item.numberdays}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </ul>
        {% else %}
            <span>Aucun programme n'a encore été établi.</span>
        {% endif %}
    </article>

    {# Bouton de retour #}   
    <div class="d-flex justify-content-center mt-5">
        <a href="{{ path('app_formation') }}" class="btn btn-primary btn-return">Retour à la liste des formations</a>
    </div>
</section>

{% endblock %}
