{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

<section id="inbox">

    {% for message in app.flashes('message') %}
        <div class="alert-warning text-center mb-3">
            {{ message }}
            <i class="fa-solid fa-thumbs-up"></i>
        </div>
    {% endfor %}

    <h1>Boite de réception</h1>
    {# <div class="row justify-content-between mb-5">
        <a class="btn btn-primary btn-return" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            Menu
        </a>

        <a href="{{ path('app_send') }}" class="btn btn-dark btn-return">Nouveau message</a>
    </div> #}

    <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">Expéditeur</th>
            <th scope="col">Objet</th>
            <th scope="col">Aperçu du message</th>
            <th scope="col">Date de réception</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for message in app.user.received %}

            {% if message.isRead == 0 %}
                {% set bold = "fw-bold" %}
            {% else %}
                {% set bold = "" %}
            {% endif %}

            <tr class="{{bold}}">
                <td>{{message.sender.email}}</td>
                <td>
                    <a class="blue-hover" href="{{ path('app_read', {'id': message.id}) }}">
                        {{message.title}}
                    </a>
                </td>
                <td class="message-preview">
                    <a class="blue-hover" href="{{ path('app_read', {'id': message.id}) }}">{{message.message | u.truncate(45, '...', false) }}</a>
                </td>
                <td>{{message.createdat | date ("d/m/Y")}}</td>
                <td>
                    <a href="{{ path('app_delete', {'id': message.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer ce message ?')">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>

    {# Menu latéral de la messagerie #}
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            
            <a href="{{ path('app_send') }}" class="btn btn-dark mb-4 btn-return">Nouveau message</a>
            
            <ul class="list-group">
                <a href="{{ path('app_message') }}" class="list-group-item">
                    Accueil
                </a>
           
                <a href="{{ path('app_inbox') }}" class="list-group-item active">
                    Boîte de réception
                </a>
            
                <a href="{{ path('app_sent') }}" class="list-group-item">
                    Eléments envoyés
                </a>
            </ul>
        </div>
    </div>

</section>
{% endblock %}
