{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

<section id="messagerie">

    {% for message in app.flashes('message') %}
        <div class="alert-warning text-center mb-3">
            {{ message }}
            <i class="fa-solid fa-thumbs-up"></i>
        </div>
    {% endfor %}

    <h1>Messagerie</h1>
    <p class="fw-bold mt-5">Résumé de la messagerie :</p>
    <p>Nombre de messages reçus : {{ app.user.received|length}}</p>
    <p>Nombre de messages envoyés : {{app.user.sent|length}}</p>
    {# <a class="btn btn-primary btn-return me-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Menu
    </a>

    <a href="{{ path('app_send') }}" class="btn btn-dark btn-return">Nouveau message</a> #}
    
    {# Menu latéral de la messagerie #}
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            
            <a href="{{ path('app_send') }}" class="btn btn-dark mb-4 btn-return">Nouveau message</a>
            
            <ul class="list-group">
                <a href="{{ path('app_message') }}" class="list-group-item active">
                    Accueil
                </a>
           
                <a href="{{ path('app_inbox') }}" class="list-group-item">
                    Boîte de réception
                </a>
            
                <a href="{{ path('app_sent') }}" class="list-group-item">
                    Eléments envoyés
                </a>
            </ul>
        </div>
    </div>

</section>
{% endblock %}
